/*
 ----   GENERAL    --------------
*/

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none !important;
  outline-style: none !important;
}


/*
 ----   NAVIGATION BAR    --------------
*/

#navBarDiv .bg-dark {
  background-color: #1d2227 !important;
}

#navBarDiv a {
  color: #fff2f2;
  font-size: 16px;
  margin: 0px 3px;
}

#ewuLogo {
  width: 100px;
  height: 100px;
  filter: saturate(1.1);
  position: relative;
  left: 5px;
  top: 5px;
}

#pageTitle {
  position: relative;
  top: -5px;
  left: 25px;
}

#linkHolders {
  position: relative;
  top: -45px;
  left: 90px;
}


#contactMeForms{
  
}


/* @media (max-width: 1000px) {
  #logoHolder {
    min-width: 1000px;
    position: relative;
    top: 10px;
  }
  #searchByDropdown {
    position: relative;
    left: -30px;
    top: 5px;
  }
  form {
    margin-left:5px;
  }
} */