*, a {
  background-color: black;
  color: white;
}

/*
 ----   Intro Page    --------------
*/

#introPage {
	width: 400px;
	height: 400px;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

#introPage * {
  position: relative;
}

#introPage #ewuLogo {
  width: 180px;
  height: 180px;
  left: -20px;
  top: -20px;
  filter: hue-rotate(280deg);
  
}

a:hover { 
  color: #b175dad7;
  text-decoration: none;
}

#introPage #firstName {
  top: -145px;
  left: 179px;
}

#introPage #lastName {
  top: -157px;
  left: 146px;
}

#introPage #linkRow {
  width: 500px;
  left: -60px;
  top: -120px;
}

#introPage #linkRow * {
  margin: 10px;
}



/*
 ----   Work Experience    --------------
*/
